.bagel-fat-one-regular {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 500;
    font-style: normal;
  }

  .ms-madi-regular {
    font-family: "Ms Madi", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
.cause{
    font-family: "Cause", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  

  h2{
    color: rgb(143, 135, 235);
    font-family: "Ms Madi", cursive;
  }

  h3{
    color: rgb(255, 158, 231);
    font-family: "Bagel Fat One", system-ui;
  }

  .header{
    list-style-type: none;
    margin: -1.5%;
    padding: 0;
    background-color: rgb(175, 170, 231);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    margin-bottom: 18px;
}

ul li a:hover{
    background-color: rgb(143, 135, 235);
}

ul li a {
    display: block;
    color: rgb(255, 158, 231);
    padding: 14px 16px;
    text-decoration: none;
}

.menu{
    list-style-type: decimal;
    text-align: left;
}

body{
    background-color: rgb(255, 219, 229);
    color: rgb(175, 170, 231);
    text-align: center;
    font-family: "Cause", cursive;
}
h1{
    font-family: "Bagel Fat One", system-ui;
}